<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-note-frais-heading">Ajouter ou modifier une Note de Frais</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!noteFrais.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="noteFrais.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">consultant</label>
                    <input type="text" class="form-control" name="consultant" id="field_name"
                        [(ngModel)]="noteFrais.consultant" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="noteFrais.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateupload">Dateupload</label>
                    <div class="input-group">
                        <input id="field_dateupload" type="text" class="form-control" name="dateupload" ngbDatepicker  #dateuploadDp="ngbDatepicker" [(ngModel)]="noteFrais.dateupload"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateuploadDp.toggle()"><i class="fas fa-calendar-alt"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_etat">Etat</label>
                    <input type="checkbox" class="form-control" name="etat" id="field_etat"
                        [(ngModel)]="noteFrais.etat" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_motif">Motif</label>
                    <input type="text" class="form-control" name="motif" id="field_motif"
                        [(ngModel)]="noteFrais.motif" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fichier">Fichier</label>
                    <div>
                        <div *ngIf="noteFrais.fichier" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(noteFrais.fichierContentType, noteFrais.fichier)">open</a><br>
                            <span class="pull-left">{{noteFrais.fichierContentType}}, {{byteSize(noteFrais.fichier)}}</span>
                            <button type="button" (click)="noteFrais.fichier=null;noteFrais.fichierContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <span class="fas fa-times"></span>
                            </button>
                        </div>
                        <input type="file" id="file_fichier" (change)="setFileData($event, noteFrais, 'fichier', false)"/>
                    </div>
                    <input type="hidden" class="form-control" name="fichier" id="field_fichier"
                        [(ngModel)]="noteFrais.fichier" />
                    <input type="hidden" class="form-control" name="fichierContentType" id="field_fichierContentType"
                        [(ngModel)]="noteFrais.fichierContentType" />
                </div>
                <!--  <div class="form-group" [hidden]="noteFrais.user">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="noteFrais.user"  required>
                        <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === noteFrais.user?.id ? noteFrais.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.user?.errors?.required">
                        This field is required.
                    </small>
                </div>    -->   

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <span class="fas fa-ban"></span>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <span class="fas fa-save"></span>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
