<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="noteFrais">
            <h2><span>Note Frais de</span> {{noteFrais.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
            	<dt><span>Consultant</span></dt>
                <dd>
                    <span>{{noteFrais.consultant}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{noteFrais.name}}</span>
                </dd>
                <dt><span>Date de téléchargement</span></dt>
                <dd>
                    <span>{{noteFrais.dateupload}}</span>
                </dd>
                <dt><span>Etat</span></dt>
                <dd>
                    <span>{{noteFrais.etat}}</span>
                </dd>
                <dt><span>Motif</span></dt>
                <dd>
                    <span>{{noteFrais.motif}}</span>
                </dd>
                <dt><span>Fichier</span></dt>
                <dd>
                    <div *ngIf="noteFrais.fichier">
                        <a (click)="openFile(noteFrais.fichierContentType, noteFrais.fichier)">open</a>
                        {{noteFrais.fichierContentType}}, {{byteSize(noteFrais.fichier)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fas fa-arrow-left"></span>&nbsp;<span> Retour</span>
            </button>

            <button type="button"
                    [routerLink]="['/note-frais', noteFrais.id, 'edit']"
                    class="btn btn-primary">
                <span class="fas fa-pencil-alt"></span>&nbsp;<span> Editer</span>
            </button>
        </div>
    </div>
</div>
