<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="infoconsultant">
            <h2><span>Infoconsultant</span> {{infoconsultant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date Entree</span></dt>
                <dd>
                    <span>{{infoconsultant.dateEntree}}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{infoconsultant.phone}}</span>
                </dd>
                <dt><span>Fonction</span></dt>
                <dd>
                    <span>{{infoconsultant.fonction}}</span>
                </dd>
                <dt><span>Num Sec Soc</span></dt>
                <dd>
                    <span>{{infoconsultant.numSecSoc}}</span>
                </dd>
                <dt><span>Missions</span></dt>
                <dd>
                    <div *ngIf="infoconsultant.missions">
                        <a [routerLink]="['/missions', infoconsultant.missions?.id, 'view']">{{infoconsultant.missions?.id}}</a>
                    </div>
                </dd>
                <dt><span>Certifications</span></dt>
                <dd>
                    <div *ngIf="infoconsultant.certifications">
                        <a [routerLink]="['/certifications', infoconsultant.certifications?.id, 'view']">{{infoconsultant.certifications?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fas fa-arrow-left"></span>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/infoconsultant', infoconsultant.id, 'edit']"
                    class="btn btn-primary">
                <span class="fas fa-pencil-alt"></span>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
