<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="infoconsultant">
            <h2>{{infoconsultant.user?.firstName}} {{infoconsultant.user?.lastName}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date d'entrée</span></dt>
                <dd>
                    <span>{{infoconsultant.dateEntree}}</span>
                </dd>
                <dt><span>Téléphone</span></dt>
                <dd>
                    <span>{{infoconsultant.phone}}</span>
                </dd>
                <dt><span>Fonction</span></dt>
                <dd>
                    <span>{{infoconsultant.fonction}}</span>
                </dd>
                <dt><span>N° Sécurité sociale</span></dt>
                <dd>
                    <span>{{infoconsultant.numSecSoc}}</span>
                </dd>
                <dt><span>Mission en cours</span></dt>
                <dd>
                    <div *ngIf="infoconsultant.missions">
                        <a [routerLink]="['/missions', infoconsultant.missions?.id, 'view']">{{infoconsultant.missions?.client}}/{{infoconsultant.missions?.projet}}</a>
                    </div>
                </dd>
                <dt><span>Certification en cours</span></dt>
                <dd>
                    <div *ngIf="infoconsultant.certifications">
                        <a [routerLink]="['/certifications', infoconsultant.certifications?.id, 'view']">{{infoconsultant.certifications?.certification}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fas fa-arrow-left"></span>&nbsp;<span> Retour</span>
            </button>

            <button type="button"
                    [routerLink]="['/infoconsultant', infoconsultant.id, 'edit']"
                    class="btn btn-primary">
                <span class="fas fa-pencil-alt"></span>&nbsp;<span> Editer</span>
            </button>
        </div>
    </div>
</div>
