<div class="row">

    <div class="col-md-9">
        <h1 class="display-4">Bienvenu dans LeanERP</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"
                   > Vous êtes connecté avec le compte  "{{account.login}}". </span>

<div *ngFor="let infoconsultant of infoconsultants">
<div *ngIf="infoconsultant.user.login==account.login"> 
    <div class="row justify-content-md-start">
        <div class="col-8">
            <div *ngIf="infoconsultant">
            <h2>{{infoconsultant.user?.firstName}} {{infoconsultant.user?.lastName}}</h2>
               <!-- <h2><span>Consultant</span> {{account.login}}</h2>-->
                <hr>
                <jhi-alert-error></jhi-alert-error>
                <dl class="row-md jh-entity-details">
                    <dt><span>Date d'entrée</span></dt>
                    <dd>
                        <span>{{infoconsultant.dateEntree | date :  "fullDate"}}</span>
                    </dd>
                    <dt><span>Telephone</span></dt>
                    <dd>
                        <span>{{infoconsultant.phone}}</span>
                    </dd>
                    <dt><span>Fonction</span></dt>
                    <dd>
                        <span>{{infoconsultant.fonction}}</span>
                    </dd>
                    <dt><span>N° sécurité sociale</span></dt>
                    <dd>
                        <span>{{infoconsultant.numSecSoc}}</span>
                    </dd>
                    <dt><span>Mission en cours</span></dt>
                    <dd>
                        <span>{{infoconsultant.missions?.client}}/{{infoconsultant.missions?.projet}}</span>
                    </dd>
                    <dt><span>Certification en cours</span></dt>
                    <dd>
                        <span>{{infoconsultant.certifications?.certification}}</span>
                    </dd>
                   <!-- <dt><span>User</span></dt>
                    <dd>
                        {{extra.user?.login}}
                    </dd>-->
                </dl>



               <!--  <button *jhiHasAnyAuthority="'ROLE_ADMIN'"  type="button"
                        [routerLink]="['/consultant', consultant.id, 'edit']"
                        class="btn btn-primary"
                >
                    <span class="fas fa-pencil-alt"></span>&nbsp;<span> Edit</span>
                </button>-->
            </div>
            </div>
        </div>
    </div>

</div>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Vous devez se connecter</span>
                <a class="alert-link" (click)="login()">Se connecter</a>
            </div>
        </div>        
        </ul>

      
    </div>
</div>
