<div class="row">

    <div class="col-md-9">
        <h1 class="display-4">Bienvenu dans LeanERP</h1>
        <p class="lead">This is your Dashboard</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"
                   > vous êtes connecté avec le compte  "{{account.login}}". </span>

<div *ngFor="let consultant of consultants">
<div *ngIf="consultant.user.login==account.login"> 
    <div class="row justify-content-md-start">
        <div class="col-8">
            <div *ngIf="consultant">
            <h2>{{consultant.user?.firstName}} {{consultant.user?.lastName}}</h2>
               <!-- <h2><span>Consultant</span> {{account.login}}</h2>-->
                <hr>
                <jhi-alert-error></jhi-alert-error>
                <dl class="row-md jh-entity-details">
                    <dt><span>Date d'entrée</span></dt>
                    <dd>
                        <span>{{consultant.dateEntree | date :  "fullDate"}}</span>
                    </dd>
                    <dt><span>Telephone</span></dt>
                    <dd>
                        <span>{{consultant.telephone}}</span>
                    </dd>
                    <dt><span>Congés Payés</span></dt>
                    <dd>
                        <span>{{consultant.congePaye}}</span>
                    </dd>
                    <dt><span>Mission</span></dt>
                    <dd>
                        <span>{{consultant.mission}}</span>
                    </dd>
                    <dt><span>Fonction</span></dt>
                    <dd>
                        <span>{{consultant.fonction}}</span>
                    </dd>
                   <!-- <dt><span>User</span></dt>
                    <dd>
                        {{extra.user?.login}}
                    </dd>-->
                </dl>



               <!--  <button *jhiHasAnyAuthority="'ROLE_ADMIN'"  type="button"
                        [routerLink]="['/consultant', consultant.id, 'edit']"
                        class="btn btn-primary"
                >
                    <span class="fas fa-pencil-alt"></span>&nbsp;<span> Edit</span>
                </button>-->
            </div>
            </div>
        </div>
    </div>

</div>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
        </div>        
        </ul>

      
    </div>
</div>
