<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="consultant">
            <h2><span>Consultant</span> {{consultant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date Entree</span></dt>
                <dd>
                    <span>{{consultant.dateEntree}}</span>
                </dd>
                <dt><span>Telephone</span></dt>
                <dd>
                    <span>{{consultant.telephone}}</span>
                </dd>
                <dt><span>Conge Paye</span></dt>
                <dd>
                    <span>{{consultant.congePaye}}</span>
                </dd>
                <dt><span>Mission</span></dt>
                <dd>
                    <span>{{consultant.mission}}</span>
                </dd>
                <dt><span>Fonction</span></dt>
                <dd>
                    <span>{{consultant.fonction}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fas fa-arrow-left"></span>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/consultant', consultant.id, 'edit']"
                    class="btn btn-primary">
                <span class="fas fa-pencil-alt"></span>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
