<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="infoConsultant">
            <h2><span>Info Consultant</span> {{infoConsultant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date Entree</span></dt>
                <dd>
                    <span>{{infoConsultant.dateEntree}}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{infoConsultant.phone}}</span>
                </dd>
                <dt><span>Fonction</span></dt>
                <dd>
                    <span>{{infoConsultant.fonction}}</span>
                </dd>
                <dt><span>Num Sec Soc</span></dt>
                <dd>
                    <span>{{infoConsultant.numSecSoc}}</span>
                </dd>
                <dt><span>Missions</span></dt>
                <dd>
                    <div *ngIf="infoConsultant.missions">
                        <a [routerLink]="['/missions', infoConsultant.missions?.id, 'view']">{{infoConsultant.missions?.id}}</a>
                    </div>
                </dd>
                <dt><span>Certifications</span></dt>
                <dd>
                    <div *ngIf="infoConsultant.certifications">
                        <a [routerLink]="['/certifications', infoConsultant.certifications?.id, 'view']">{{infoConsultant.certifications?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fas fa-arrow-left"></span>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/info-consultant', infoConsultant.id, 'edit']"
                    class="btn btn-primary">
                <span class="fas fa-pencil-alt"></span>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
